
<blockquote>
  <p>You have invited {{conversation.engineer.name}} to lunch! | View Website: <a target="_blank" href="{{conversation.engineer.website}}">{{conversation.engineer.website}}</a> </p>
</blockquote>

<h4>Engineer's Response</h4>

{{#if conversation.response}}
<pre> {{conversation.engineer.name}} has not replied yet </pre>
    {{else}}
      <pre> They Haven't responded yet!</pre>
  {{/if}}
  <h4>Your message</h4>
<pre>{{conversation.lunchRequest}}</pre>
