<td>{{conversation.recruiter.name}}</td>
<td><a target="_blank" href="{{conversation.recruiter.website}}">{{conversation.recruiter.website}}</a></td>
{{lunch-invites/invite/status conversation=conversation}}
<td>
  {{#link-to 'engineer.view-invite' conversation}}
    <div class="btn btn-success">Respond</div>
  {{/link-to}}
</td>

<td>
  <button {{action 'deleteConvo'}} class="btn btn-danger">Delete From Inbox</button>
</td>
