<td>{{conversation.recruiter.name}}</td>
<td><a target="_blank" href="{{conversation.recruiter.website}}">{{conversation.recruiter.website}}</a></td>
{{lunch-invites/invite/status conversation=conversation}}
<td>
  {{#if conversation.isCompleted}}

    {{#link-to 'engineer.view-invite' conversation}}
      <div class="btn btn-success">View Invite</div>
    {{/link-to}}

    {{else}}

      {{#link-to 'engineer.view-invite' conversation}}
        <div class="btn btn-success">Respond</div>
      {{/link-to}}

  {{/if}}
</td>

<td>
  <button {{action 'deleteConvo'}} class="btn btn-danger">Delete From Inbox</button>
</td>
